<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">	
			<div class="col-md-3 footer-grid">
				<h4>DIRECCION</h4>
				<ul >
					<li>SABRORICOS</li>
					<li>Direccion: Tijuana, B.C, México</li>
					<li>Calle Ricardo Castro, #319, colonia Nueva Tijuana</li>
					
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>CONTACTO</h4>
				<ul >
					<li>Horario: Lun-Vie 9am - 6pm</li>
					<li>Tel: 664-525-6812</li>
					<li>Email: <a href="mailto:lokoalateconsabroricos@hotmail.com">lokoalateconsabroricos@hotmail.com</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>SUBSCRIBETE</h4>
				<form>
					<input class="form-control"type="email" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
					<br>
					<button type="submit" class="btn btn-sabroso">Suscribirse</button>
				</form>
			</div>
			<div class="col-md-3 footer-grid">
				<h2><a href="index.html">SABRORICOS</a></h2>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //footer -->

<div class="strip1"></div>
<!-- copy -->
<div class="copy-right">
	<div class="container">
			<p> &copy; 2015 Sabroricos. Todos los derechos reservados | Diseño por  <a href="byronwd.com"> Byron Designs</a></p>
	</div>
</div>
<!-- //copy -->
