<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">	
			<div class="col-md-3 footer-grid">
				<h4>DIRECCION</h4>
				<ul >
					<li>SABRORICOS</li>
					<li>1234 calle 123</li>
					<li>BC 29601 </li>
					<li>Horario: Lun-Vie 9am - 6pm</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>CONTACTO</h4>
				<ul >
					<li>Tel: +1 234-567-890</li>
					<li>Fax: +1 646-216-9789</li>
					<li>Email: <a href="mailto:info@sabroricos.com">info@sabroricos.com </a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h4>SUBSCRIBETE</h4>
				<form>
					<input class="form-control"type="email" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
					<br>
					<button type="submit" class="btn btn-sabroso">Suscribirse</button>
				</form>
			</div>
			<div class="col-md-3 footer-grid">
				<h2><a href="index.html">SABRORICOS</a></h2>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //footer -->

<div class="strip1"></div>
<!-- copy -->
<div class="copy-right">
	<div class="container">
			<p> &copy; 2015 Sabroricos. Todos los derechos reservados | Diseño por  <a href="byronwd.com"> Byron Designs</a></p>
	</div>
</div>
<!-- //copy -->
