<!-- header -->
<div class="header-top">
	<div class="container">
				<div class="header-top-left">
					<p>Saboreate con saladitos sabroricos</p>
				</div>
				<div class="header-top-mid">
					<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><p>664-525-6812</p>
				</div>
				<div class="header-top-right">
					<ul>
						<li><a href="https://www.facebook.com/Sabroricos" class="f1"> </a></li>
						<li><a href="https://www.facebook.com/Sabroricos" class="f2"> </a></li>
						
					</ul>
				</div>
				<div class="clearfix"></div>
	</div>
</div>
<!-- //header -->
