.red{
	opacity: .2;
}

.image{
	cursor: pointer;
}

#objeto{
	height: 100px;
	width: 100px;
}

.avoid-clicks {
  pointer-events: none;
}

#btn-send{
	background: #2A73DD;
}

.black-text{
	color: black;
}

.seleccion{
	color: #b1b1ff;
}

.blue{
	background: #b1b1ff;
}

.inline-block{
	display: inline-block;
}
/*/2A73DD*/